.dashboard{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    background-color: #f7f7fa;


    .content-dashboard{
        background-color: #f7f7fa;
        background-repeat: repeat-y;
        height: 100%;
        padding: 10vh 0 0 330px;
        width: 84vw;

        ul{
            list-style: none;
        }
    }

    .img-content{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;

        .circle-image{
            border-radius: 50%;
        }

        .content{
            display: flex;
            flex-direction: column;
            width: 60%;
            padding-left: 3%;
        }
    }    
}