.form{
    display: flex;
    flex-direction: column;

    h1{
        font-size: 1em;
        color: #556ee6;
        margin: 0;
    }

    p{
        margin: 3% 0;
        color :#74788d;
    }

    form{
        display: flex;
        flex-direction: column;
    }
    
    .form-control{
        display: block;
        width: 100%;
        padding: 0.47rem 0.75rem;
        margin: 0.47rem 0.75rem;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border-radius: 0.25rem;
        -webkit-transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
    }

    .password{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}