.form{
    display: flex;
    flex-direction: column;
    height: 80vh;
    justify-content: space-evenly;

    h1{
        font-size: 1em;
        color: #556ee6;
        margin: 0;
    }

    p{
        margin: 3% 0;
        color :#74788d;
    }

    form{
        display: flex;
        flex-direction: column;
    }

    .form-control{
        display: block;
        width: 100%;
        padding: 0.47rem 0.75rem;
        margin: 0.47rem 0;
        font-size: .8125rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    .password{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .invalid {
        border: 1px solid #b40e0e;
        background-color: #fddddd;

        &:focus-visible{
            outline: none;
        }
    }

    .error-text {
    color: #b40e0e;
    }

    [type=submit]:not(:disabled), button:not(:disabled) {
        cursor: pointer;
        color: #fff;
        background-color: #556ee6;
    }

    .button{
        line-height: 1.5;
        border: 1px solid #556ee6;
        padding: 0.47rem 0.75rem;
        margin: 3% 0;
        border-radius: 0.25rem;
    }

    .sign-in{
        text-align: center;
    }

    .icon-3-column{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-bottom: 5%;

        .facebook{
            cursor: pointer;
        }
        .twitter{
            cursor: pointer;
        }
        .google{
            cursor: pointer;
        }
    }
}